<%- include('partials/head') %>
<%- include('partials/nav') %>


<main>
    <h1><%= title %></h1>
   
    <p>Let me tell you all about me.  There is too much, let me sum up.</p>
    <h2>I am Amber Boyd</h2>
    <p>I live in the Dallas, TX area.  I am happily married with many kids. I enjoy:</p>
    <ul>
        <li>reading books</li>
        <li>hammocks</li>
        <li>naps</li>
        <li>naps in hammocks</li>
        <li>reading books in hammocks</li>
        <li>naps while reading books in hammocks</li>
        <li>sewing</li>
        <li>crochet</li>
        <li>cross stitch</li>
        <li>Legos</li>
    </ul>
    <img src="/images/pic.jpg" alt="picture of My husband and me in Stehekin WA">
</main>

<%- include('partials/footer') %>