<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amber Boyds home page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Here resides Amber the Illustrious</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>Ok. So here's the plan.  First, we take all the plastic cutlery wrappers and we tie them together end to end.  Then when it's long enough, we tie a rock to one end.  then we put a kid in a swing and give them the rock.  When they are swinging reeeeaaaaaalllllly high, they will throw the rock reeeeaaaallllly hard.  It will go all the way around the world.  We will untie the wrappers from the rock and tie the ends together, thus creating a loop around the whole earth.  Then we pull reeeeeaaaaaalllllly hard to pull the earth just a wee bit away from the sun so it will cool off and we can have outdoor recess.</p>
</body>
</html>