
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Course Catalog</a></li>
                <li><a href="/faculty">Faculty Directory</a></li>
                <li><a href="/demo">Middleware Demo</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/contact/responses">Contact Responses</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/register/list">Users</a></li>
            </ul>
        </nav>
        <p>
        <%- greeting %>
        </p>
    </header>